
<div class="container" style="margin-top:50px">
 <div class="row" >
  <p style="text-align: center;">
    <img src="1.jpg" alt="dasfsa"> </p>
 <form action="/write" method="POST">
  <div align="center" class="col-sm-12 col-md-4">
    <label style="font-size:20pt" for="exampleInputEmail1"><b>성질</b></label>
    <input style="width:150px; height:50px" type="text" class="form-control" name="a" id="exampleInputEmail1" placeholder="">
  </div>
   <div align="center" class="col-sm-12 col-md-4">
  <label style="font-size:20pt" for="exampleInputEmail1"><b>성질</b></label>
    <input style="width:150px; height:50px" type="text" class="form-control" name="b" id="exampleInputPassword1" placeholder="">
  </div>
      <div align="center" class="col-sm-12 col-md-4">
     <label style="font-size:20pt" for="exampleInputEmail1"><b>성질</b></label>
    <input style="width:150px; height:50px" type="text" class="form-control" name="c" id="exampleInputPassword1" placeholder="">
  </div>
  
<div align="center"  >
   <button border="20px" align="center" type="submit" class="btn btn-default">제출</button>
</div>
</form>
</div>
</div>


 

  
 

