<div class="container" style="margin-top:100px">
<div class="col-xs-6 col-md-4">
 <p style="text-size:10px"><%= @a %>을 우선 조금 넣고</p>
 <img src="3.jpg" alt="dasfsa"> 
  </div>
<div class="col-xs-6 col-md-4">
  <p><%= @b %>을 세스푼</p>
 <img src="4.jpg" alt="dasfsa">
  </div>
<div class="col-xs-6 col-md-4">
 <p>마지막으로 <%= @c %>을 실수한척 하고 타 털어넣자!</p>
 <img src="2.jpg" alt="dasfsa">
  </div>
</div>




