<div class="container" style="margin-top:100px">
 <div class="row">
<div class="col-xs-12 col-md-4">
 <p style="font-size:20pt"><font color="blue"><%= @a %></font>을 <br>우선 조금 넣고</p>
 <img src="3.jpg" alt="dasfsa"> 
  </div>
<div class="col-xs-12 col-md-4">
   <p style="font-size:20pt"><font color="green"><%= @b %></font>을 <br>세스푼 넣고</p>
 <img src="4.jpg" alt="dasfsa">
  </div>
<div class="col-xs-12 col-md-4">
 <p style="font-size:20pt">마지막으로 <font color="red"><%= @c %></font>을 <br>실수한척 하고 다 털어넣자!</p>
 <img src="2.jpg" alt="dasfsa">
  </div>
  </div>
</div>




